
$font-header: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
$font-body: "Roboto", "Rubic", "Poppins", "Hel­vetica", Arial, sans-serif;
$font-code: "Roboto Mono", "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", monospace;

/**
 * Schedule layout
 */
.schedule section.day,
.schedule section.slot {
  clear: both;
}
@media (min-width: 51.25em) {
  .schedule h3.time {
    width: 17.02128%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    font-family: $font-header;
    letter-spacing: 2px;
    line-height: 1.45;
  }
  .schedule [data-room="room-1"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 19.14894%;
    clear: none;
    font-family: $font-body;
  }
  .schedule [data-room="room-2"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 46.80851%;
    clear: none;
    font-family: $font-body;
  }
  .schedule [data-room="room-3"] {
    width: 25.53191%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-family: $font-body;
  }
  .schedule .session .meta .room {
    display: none;
  }
  .schedule .full {
    width: 80.85106%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-family: $font-body;
  }
}
