@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
      url('./fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/roboto/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('./fonts/roboto/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'icons';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/icons/icons.woff2?30') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/icons/icons.woff?30') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Schedule layout
 */
.schedule section.day,
.schedule section.slot {
  clear: both;
}
@media (min-width: 51.25em) {
  .schedule h3.time {
    width: 17.02128%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    font-family: $font-header;
    letter-spacing: 2px;
    line-height: 1.45;
  }
  .schedule [data-room="room-1"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 19.14894%;
    clear: none;
  }
  .schedule [data-room="room-2"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 46.80851%;
    clear: none;
  }
  .schedule [data-room="room-3"] {
    width: 25.53191%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .schedule .session .meta .room {
    display: none;
  }
  .schedule .full {
    width: 80.85106%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

