@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'icons';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/icons/icons.woff2?30') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/icons/icons.woff?30') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

$font-header: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
$font-body: "Roboto", "Rubic", "Poppins", "Hel­vetica", Arial, sans-serif;
$font-code: "Roboto Mono", "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", monospace;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.aligncenter {
    text-align: center;
}

.title {
  font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
  font-size: "24";
  text-align: center;
}

.body {
  font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
  font-size: "18";
  text-align: center;
  background-color: rgb(244, 252, 255);
}

/**
 * Schedule layout
 */
.schedule section.day,
.schedule section.slot {
  clear: both;
}
@media (min-width: 51.25em) {
  .schedule h3.time {
    width: 17.02128%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
    font-weight: 300;
    background-color: rgb(157, 204, 217);
  }
  .schedule [data-room="room-1"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 19.14894%;
    clear: none;
    font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
    font-weight:300;
  }
  .schedule [data-room="room-2"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 46.80851%;
    clear: none;
    font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
  }
  .schedule [data-room="room-3"] {
    width: 25.53191%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
  }
  .schedule .session .meta .room {
    text-align: center;
    display: none;
    font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
    font-weight:400;
    background-color:rgb(157, 204, 217);
  }
  .schedule .full {
    width: 80.85106%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-family: "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
    background-color:rgb(236, 249, 245);
  }
}

html {
  box-sizing: inherit;
  
  overflow-x: hidden;
  
  scroll-behavior: smooth;
}

footer {
  padding-bottom: 1em;
  .icon {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }
  a > .icon {
    color: $white;
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
} */

.desc {
  background-color:rgb(217, 220, 220);
  margin-left: 50px;
  line-height: 1.5;
}