---
layout: page
title: ACMC21 Schedule
---
<div class="aligncenter"><img src="./img/acmc21-big.png" alt="the ACMC21 banner image"></img></div>
<div class="schedule">
	<h1 class="title">{{ page.title }}</h1>

	<p class="body">Welcome to the 2021 Australasian Computer Music Conference, hosted by the Australian Institute of Music.
		Below you will find all of the session information for the two days. If you have not yet purchased a ticket please do so from the main page. Session details include links to the relevant Zoom channels, or embeds for the relevant streams.
	</p>

	<section id="satur" class="day">
	<header style="background-color: rgb(180, 232, 246);">
			<h2>Thursday</h2>
			<span data-room="room-1" style="background-color: rgb(231, 223, 191);"><strong>Papers</strong></span>
			<span data-room="room-2" style="background-color: rgb(231, 223, 191);"><strong>Music</strong></span>
			<span data-room="room-3" style="background-color: rgb(231, 223, 191);"><strong>Workshop</strong></span>
		</header>

		{% for post in site.categories.session reversed %}
			{% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
			{% if day == 'Thursday' %}
				{% include schedule-day.html %}
			{% endif %}
		{% endfor %}

 </section>
	<!-- #satur.day -->

	<section id="sun" class="day">
		<header style="background-color: rgb(180, 232, 246);">
			<h2>Friday</h2>
			<span data-room="room-1"></span>
			<span data-room="room-2"></span>
			<span data-room="room-3"></span>
		</header>
		{% for post in site.categories.session reversed %}
			{% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
			{% if day == 'Friday' %}
				{% include schedule-day.html %}
			{% endif %}
		{% endfor %}

	</section>
	<!-- #sun.day -->

</div>
<!-- .schedule -->
</div>
<!-- 
<div class="footer">A nifty footer. </div> -->
