---
layout: page
---
<article class="session session-details">
  <h1 style="background-color: rgb(176, 217, 201);">{{ page.title }}</h1>
  <p class="meta" style="background-color:rgb(186, 216, 219); text-indent: 20px; font-weight: bold;">Presenters: {{ page.presenters }}</p>

  <aside>

    <ul class="meta">
      {% if page.zoom != null %}
        <p>Click <a href="{{ page.zoom }}">here</a> to open the Conference Channel (Zoom, YouTube, etc.). You will need the access codes for Zoom that you were sent prior to the beginning of the conference.</p>
      {% endif %}
    </ul>
  </aside>

  <div class="desc">{{ content }}</div>

  <button onclick="goBack()" class="button">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
</article>
